.cover__link {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 44, 47, .3) ;
  text-decoration: none;
  color: #fff;
  transition: .4s background-color ease-in;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, .8) ;
}
