.page__section_thin {
  max-width: calc(984px + (48px * 2));
  padding: 0 48px;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page__section_thin {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__section_thin {
    padding: 0 16px;
  }
}
