.place__image {
  width: 100%;
  min-width: 440px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    min-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    min-width: auto;
  }
}
