.lead {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 56px;
}

@media screen and (max-width: 768px) {
  .lead {
    padding-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 0 0;
  }
}
