.navigation__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: .2s opacity ease-in-out;
}

.navigation__link:hover {
  opacity: 80%;
}
