.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 30%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: .4s opacity  ease-in;
}

.cover__overlay:hover {
  opacity: 80%;
}
