.page__section {
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page__section {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__section {
    padding: 0 16px;
  }
}
